<div class="nav-bar-container">
  <app-nav-bar-header></app-nav-bar-header>
</div>


<div class="slider">
  <app-imageslider></app-imageslider>
</div>

<div class="services-container mt-1">
  <app-services-page> </app-services-page>
</div>

<div class="success-story mt-1">
  <app-our-success-story-component></app-our-success-story-component>
</div>


<div class="wedding-image-gallery mt-1">
  <app-weeding-images></app-weeding-images>
</div>

<div class="party-image-gallery mt-1">
  <app-party-images></app-party-images>
</div>

<div class="birthday-image-gallery mt-1">
  <app-birthday-images></app-birthday-images>
</div>

<div class="make-booking mt-1 mb-0">
  <app-booking-form-component></app-booking-form-component>
</div>

<hr>

<div class="clients-review mt-5 mb-5">

  <div class="row w-100 text-center m-0">
    <div class="col-sm w-100 no-gutters font-weight-bold">
      Users Review
    </div>
  </div>

  <app-review-section-component></app-review-section-component>

</div>



<div class="footer">
  <app-footercomponent></app-footercomponent>
</div>
