<footer class="w-100 footer-container row container-fluid no-gutters pt-3 pb-3 m-0">
  <div class="col-sm-12 copyright-footer"> &copy; Copyright all right reserved <span id="current_date"> {{date}} </span>
    | BEST EVENTS & WEDDING PLANNERS
  </div>
  <div class="col-sm-12 contact_icons">
    <a href="https://www.facebook.com" target="_blank" id="contact-facebook"><i class="fa fa-facebook-square mr-5" ></i> </a>
    <a href="https://www.twitter.com" target="_blank" id="contact-twitter"> <i class="fa fa-twitter-square  mr-5" ></i> </a>
    <a href="https://www.instagram.com" target="_blank" id="contact-instagram"> <i class="fa fa-instagram  mr-5"></i> </a>
    <a href="https://www.snapchat.com" target="_blank" id="contact-snapchat"> <i class="fa fa-snapchat-square mr-5"></i> </a>
  </div>
</footer>
