<app-nav-bar-header></app-nav-bar-header>

<div id="contact-us-container">

  <div id="contact-us-map" class="w-100 mt-2 p-3">
    <span> Map </span>

    <iframe class="mt-3 animated zoomIn"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.0088521425546!2d85.33292271506161!3d27.686121282800656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb192362977af5%3A0x75b1f25de71b6224!2sStar%20Human%20Resource%20Solution%20Pvt.ltd!5e0!3m2!1sen!2snp!4v1566752417014!5m2!1sen!2snp"
      width="99%" height="500" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>

  <div id="contact-us-contents" class="mt-5">

    <div class="row no-gutters m-0">

      <div class="col-sm contact-address"> <i class="fa fa-map-marker"></i> Address
        <p> {{contact.address}} </p>
      </div>

      <div class="col-sm contact-phone"> <i class="fa fa-phone"></i> Phone
        <p>{{contact.phone_one}} , {{contact.phone_two}} </p>
      </div>

      <div class="col-sm contact-email"> <i class="fa fa-envelope"></i> Email
        <p> {{contact.email}} </p>
      </div>

      <div class="col-sm contact-email"> <i class="fa fa-history"></i> Opening hours
        <p> {{contact.opening_hour}} </p>

      </div>

    </div>
  </div>
</div>


<div class="footer">
  <app-footercomponent></app-footercomponent>
</div>
