<app-nav-bar-header></app-nav-bar-header>

<div id="contact-us-container">


    <div id="contact-us-map"class="w-100 mt-2 p-3">
      <span> Map </span>
      <iframe class="mt-3 animated zoomIn"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.379344379032!2d85.33222171548205!3d27.705571532175956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199ffe9d7c6b%3A0x91b3a969f305a0bc!2sMaitidevi%2C+Kathmandu+44600!5e0!3m2!1sen!2snp!4v1564579219169!5m2!1sen!2snp"
        width="99%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div id="contact-us-contents" class="mt-5">

      <div class="row no-gutters m-0">

        <div class="col-sm contact-address"> <i class="fa fa-map-marker"></i> Address
          <p>Kathmandu 44600, Maitidevi mandir</p>
        </div>

        <div class="col-sm contact-phone"> <i class="fa fa-phone"></i> Phone
          <p>+977981234567 , 01-4454124</p>
        </div>

        <div class="col-sm contact-email"> <i class="fa fa-envelope"></i> Email
          <p> besteventmanagement@gmail.com </p>
        </div>

        <div class="col-sm contact-email"> <i class="fa fa-history"></i> Opening hours
          <p> Sun-Fri : 10 a.m - 5 p.m | Sat: closed </p>

        </div>

      </div>
    </div>
  </div>



<app-footercomponent></app-footercomponent>




