<div class="comment-form container-fluid p-3 mb-5">
  <div class="form-comment-heading p-3">Make comment </div>


  <div class="input-name m-3">
    <i class="fa fa-user"></i>
    <input class="p-2 w-75" placeholder="Enter your name *" type="text" name="name" id="name" ngModel #name="ngModel">
  </div>


  <div class="input-comment m-3">
    <i class="fa fa-comment"></i>
    <input class="p-2 w-75" placeholder="Enter your phone comment *" type="text" name="comment" id="comment" ngModel
      #comment="ngModel">
  </div>


  <div class="input-prefered-location m-3">
    <button (click)="commentFormSubmit(name, comment)" class="btn btn-primary m-3 p-3 w-75 font-weight-bold"> Comment
      <i class="fa fa-send"></i> </button>
  </div>

</div>
