<div id="main-page-items">
  <app-admin-nav></app-admin-nav>

  <div class="container">
    <div class="row" id="createclientsrow">
      <div class="col-2"></div>
      <div class="col-8">
        <label class="btn btn-primary mt-2 w-100">Add Client Information</label>
        <app-client-create></app-client-create>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <label class="btn btn-primary mt-2 w-100">Edit Client Information</label>
        <app-client-edit></app-client-edit>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
