.ngb-carousel {
  border: none;
}

.picsum-img-wrapper {
  outline: none;
  border: none;
}

.picsum-img-wrapper img {
  position: relative;
  float: left;
  width: 100%;
  height: 80vh;
  outline: none;
  border: none;
}
