<ngb-carousel>
    <ng-template ngbSlide *ngFor="let sliderimage of sliderimages;  let i = index">
      <div class="picsum-img-wrapper animated fadeInLeft">

        <img [style.background]="'url(http://localhost:1954/UPLOADS/images/sliding_image/' + sliderimage.image + ')'"
        id="image" [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'" [style.border]="'none'">

      </div>
      <div class="carousel-caption">
        <h3>{{sliderimage.slider_title}}  </h3>
        <p>{{sliderimage.sub_title}}</p>
        <p>  </p>
      </div>
    </ng-template>
  </ngb-carousel>
