<div class="nav-container animated bounceInUp" id="nav-container">
  <nav class="navbar navbar-expand-lg navbar-dark p-4" id="main-nav-bar">
    <a class="navbar-brand mr-5" href="/">
      <!-- <img src="assets/images/logo2.png" id="site-logo"> -->
      <span id="brandfname">Best </span>
      <span id="brandmname">Event </span>
      <span id="brandlname">Management </span>
    </a>
    <button class="navbar-toggler" type="button" (click)="openNav()" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-3">
          <a href="/" id="nav-home" class="nav-hover">
            <span *ngIf="activenavhome=='activehome'" class="active-nav-bar"> HOME </span>
            <span *ngIf="activenavhome==null" class="nav-hover"> HOME </span>
          </a>
        </li>
        <li class="nav-item mr-3">
          <a href="clients" id="nav-client" class="nav-hover">
            <span *ngIf="activenavclient=='activeclient'" class="active-nav-bar"> CLIENTS </span>
            <span *ngIf="activenavclient==null" class="nav-hover"> CLIENTS </span>
          </a>
        </li>
        <li class="nav-item mr-3">
          <a href="services" id="nav-services"  class="nav-hover">
              <span *ngIf="activenavservice=='activeservice'" class="active-nav-bar"> SERVICES </span>
              <span *ngIf="activenavservice==null" class="nav-hover"> SERVICES </span>
          </a>
        </li>

        <li class="nav-item mr-3">
          <a href="portfolio" id="nav-portfolio" class="nav-hover">
            <span *ngIf="activenavportfolio=='activeportfolio'" class="active-nav-bar"> PORTFOLIO </span>
            <span *ngIf="activenavportfolio==null" class="nav-hover"> PORTFOLIO </span>
          </a>
        </li>

        <li class="nav-item mr-3">
            <a href="review" id="nav-review" class="nav-hover">
              <span *ngIf="activenavreview=='activepreview'" class="active-nav-bar"> REVIEW </span>
              <span *ngIf="activenavreview==null" class="nav-hover"> REVIEW </span>
            </a>
          </li>

        <li class="nav-item mr-3">
          <a href="contact" id="nav-contact" class="nav-hover">
            <span *ngIf="activenavcontact=='activecontact'" class="active-nav-bar"> CONTACT </span>
            <span *ngIf="activenavcontact==null" class="nav-hover"> CONTACT </span>
          </a>
        </li>

        <li class="nav-item mr-3">
          <a href="about" id="nav-nav" class="nav-hover">
            <span *ngIf="activenavabout=='aboutactive'" class="active-nav-bar"> ABOUT </span>
            <span *ngIf="activenavabout==null" class="nav-hover"> ABOUT </span>
          </a>
        </li>

        <li class="nav-item mr-3">
          <a id="nav-search" (click)="showSearchInput()"> <i class="fa fa-search"></i> </a>
        </li>


        <li class="nav-item mr-5">

        </li>
      </ul>
    </div>
  </nav>


  <div class="w-100 no-gutters p-4 animated" id="search-bar">
    <input class="no-gutters" type="text" id="txt-nav-bar-search" placeholder="Search .............................">
    <i class="fa fa-search" id="nav-search-icon"></i>
  </div>

</div>
