<app-nav-bar-header></app-nav-bar-header>

<div class="services-menu col-sm-12 p-3 animated" id="services-menu" aria-labelledby="navbarDropdown">
  <a class="active-services m-2" id="weeding-service" (click)="showWeedingService()">Wedding</a>
  <a class="m-2" id="party-service" (click)="showPartyService()">Party</a>
  <a class="m-2" id="birthday-service" (click)="showBirthdayService()">Birthday</a>
  <a class="m-2" id="all-service" (click)="showAllService()">All</a>
</div>


<div class="weeding-component animated">
  <app-weeding-images></app-weeding-images>
</div>

<div class="birthday-component animated" style="display: none">
  <app-birthday-images></app-birthday-images>
</div>

<div class="party-component animated" style="display: none">
  <app-party-images></app-party-images>
</div>


<div class="all-component animated" style="display: none">
  <app-all-images></app-all-images>
</div>


<app-footercomponent></app-footercomponent>
