<span id="validateTokenSection">
      <input class="form-control form-control-lg mt-2" type="text" placeholder="Enter Token"
             name="confirmToken"
             id="confirmToken" ngModel #confirmToken="ngModel">
      <button class="btn btn-warning mt-2" (click)="validateToken()">Validate</button>
</span>

<span id="passwordField" style="display: none">
      <span class="settingsSpan" style="border:black;">
    <input class="form-control form-control-lg mt-2 w-75" type="password" placeholder="New Password"
           name="newPassword"
           id="newPassword" ngModel #newPassword="ngModel">
            <i class="glyphicon glyphicon-eye-open"></i>
    </span>
      <span class="settingsSpan" style="border:black;">
      <input class="form-control form-control-lg mt-2 w-75" type="password" placeholder="Confirm Password"
             name="confirmPassword"
             id="confirmPassword" ngModel #updatePassword="ngModel">
            <i class="glyphicon glyphicon-eye-open"></i>
      </span>

  <button type="button" class="btn btn-info mt-2" (click)="updateNewPassword()" onfocus="comparePassword()"
          id="updatePassword">Update
</button>

        </span>
