section{
  background-image: url('../../../assets/images/party_background.jpg');
  background-size: cover;
}

#success-gallery img {
  height: 200px;
  width: 100%;
  float: left;
  /* background-image: url('../../../assets/success-story-images/sample1.jpg') */
}

#images-container {
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  background: black;
}

#image:hover {
  opacity: 0.8;
  cursor: pointer;
}

#image-caption {
  font-weight: bold;
  font-family: Cambria;
  color: white;
}

#success-gallery {
  text-align: center;
  margin-left: 10%;
}

#images {
  text-align: center;
}

.row h1 {
  text-align: center;
}
