<app-admin-nav></app-admin-nav>

<div class="container">
  <div class="row" id="createaboutusrow">
    <div class="col-2"></div>
    <div class="col-8">
      <label class="btn btn-primary mt-2 w-100">Add about us page information</label>
      <app-about-create></app-about-create>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <label class="btn btn-primary mt-2 w-100">Edit about us page information</label>
      <app-about-edit></app-about-edit>
    </div>
    <div class="col-2"></div>
  </div>
</div>
