<section id="gallery" class="text-center py-5">

  <!-- Container -->
  <div class="container-fluid">

    <div id="services" class="animated mr-0">
      <div class="container-fluid">
        <div class="row no-gutters m-0 p-0 mr-0" id="gallery-row">
          <h2 class="font-weight-bolder m-2 col-md-3"> </h2>
          <h2 class="font-weight-bolder m-2 col-md-3"> Our Services </h2>
          <h2 class="font-weight-bolder m-2 col-md-3"> </h2>

          <div class="col-md-3 m-2 no-gutters" id="images-container">
            <a href="services/weeding" target="_blank"  placement="top" ngbTooltip="Click to know more about weeding">
              <img src="assets/success-story-images/sample1.jpg" id="image">
            </a>
            <span id="image-caption">Weeding</span>
          </div>

          <div class="col-md-3 m-2 no-gutters" id="images-container">
            <a href="#" target="_blank"  placement="top" ngbTooltip="Click more to know about party">
              <img src="assets/success-story-images/sample2.jpg" id="image">
            </a>
            <span id="image-caption" class="p-3">Party</span>
          </div>

          <div class="col-md-3 m-2 no-gutters" id="images-container">
            <a href="#" target="_blank"   placement="top" ngbTooltip="Click more to know about birthday">
              <img src="assets/success-story-images/sample3.jpg" id="image">
            </a>
            <span id="image-caption" class="p-3">Birthday</span>

          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- Container -->

</section>
<!--Section: gallery-->
