section {
  /* background-image: url('../../../assets/images/weeding.jpg'); */
  background-image: url('../../../assets/images/weeding2.jpg');
  background-size: cover;
  color: white;
}

#services {
  margin-left: 10%;
}

#services img {
  height: 400px;
  width: 100%;
  float: left;
}

@media only screen and (max-width: 560px) {
  #services img {
    height: 300px;
    width: 100%;
    float: left;
  }
}

.services-title{
  color: white;
  font-weight: 2vh;
  font-weight: bold;
}

#images-container {
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  background: black;
}

#images-container a p {
  color: white;
  text-decoration: none;
}

#image:hover {
  opacity: 0.8;
  cursor: pointer;
}

#image-caption {
  font-weight: bold;
  font-family: Cambria;
}

#services #images {
  text-align: center;
}

.row h1 {
  text-align: center;
}

.service-heading {
  font-size: 3vh;
}
