#services{
  margin-left: 10%;
}

#services img{
  height: 350px;
  width: 100%;
  float: left;

  /* background-image: url('../../../assets/success-story-images/sample1.jpg') */
}

#images-container{
box-shadow: 5px 5px 10px black;
border-radius: 5px;
}

#image:hover{
  opacity: 0.8;
  cursor: pointer;
}

#image-caption{
  font-weight: bold;
  font-family: Cambria;
}

#services #images{
  text-align: center;
}

.row h1{
  text-align: center;
}
