*{
  font-family: Cambria;
  color: black;
}

.review-section > .review-heading > h1{
  font-weight: bold;
  text-align: center;
}

.review-section{
  box-shadow: 5px 5px 15px  black;
  border-radius: 5px;
}

.review-content{

}

.review-container{
  background: rgb(207, 203, 203);
  border-radius: 100px;
}

#username{
  color: #3858A4;
  font-size: 2vh;
  font-weight: bold;
}


#user-comment{
  font-size: 1.5vh;
}

#comment-time{
  color: grey;
}
