/* *{
  font-family: Cambria;
  color: black;
}

.review-section > .review-heading > h1{
  font-weight: bold;
  text-align: center;
}

.review-section{
  box-shadow: 5px 5px 15px  black;
  border-radius: 5px;
}

.review-content{

}

.review-container{
  background: rgb(207, 203, 203);
  border-radius: 100px;
}

#username{
  color: #3858A4;
  font-size: 2vh;
  font-weight: bold;
}


#user-comment{
  font-size: 1.5vh;
}

#comment-time{
  color: grey;
} */

* {
  font-family: Cambria;
}

.comments-container {
  text-align: center;
  margin-top: 5%;
}

.comments-container-heading h2 {
  text-align: center;
  font-weight: bold;
}

.img-comment {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.comment-details {
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(167, 163, 163);
  margin-left: 5%;
  border: 1px solid rgba(161, 157, 157);
}

.footer {
  bottom: 0;
  margin-top: 20%;
  width: 100%;
}

#show-previous-images, #show-next-images {
  z-index: 9999;
  font-size: 3vh;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

.comment-date {
  color: rgb(141, 141, 141);
}

.comment-name {
  font-size: 2.5vh;
  color: #0078D7;
}
