<section id="gallery" class="text-center py-5">

  <!-- Container -->
  <div class="container-fluid">

    <div id="success-gallery" class="animated mr-0">
      <div class="container">
        <div class="row no-gutters m-0 p-0 mr-0" id="gallery-row">
          <h2 class="font-weight-bolder m-2 col-md-3"> </h2>
          <h2 class="font-weight-bolder m-2 col-md-3" style="color: white"> Our Wedding Packages</h2>
          <h2 class="font-weight-bolder m-2 col-md-3"> </h2>
          <div class="col-md-3 m-2 no-gutters" *ngFor="let photo of images" id="images-container">
            <a ngbTooltip="{{photo.description}}">
              <img [style.background]="'url(http://eventmandu.com/UPLOADS/images/services/' + photo.image + ')'"
                id="image" [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'">
            </a>
            <span id="image-caption">{{photo.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

