<section id="gallery" class="text-center py-5">

  <div class="container-fluid">

    <div class="row w-100 text-center m-0">
      <div class="col-sm w-100 no-gutters font-weight-bold success-story-heading "> Our birthday packages
        <span class="animated zoomInDown infinite"> </span>
      </div>
    </div>

    <div class="row w-100 text-center m-0 mt-5" id="services">
      <div class="col-md-2 text-center p-2 images-container mt-5" *ngFor="let photo of images" id="images-container">
        <a [ngbTooltip]="photo.description">
          <img [style.background]="'url(' +base_url+'uploads/images/services/'+photo.image + ')'" id="image" [style.backgroundSize]="'cover'"
            [style.backgroundRepeat]="'no-repeat'">
        </a>
        <span id="image-caption">{{photo.title}}</span>
      </div>
    </div>

  </div>

</section>
